
.all {
    height:100%;
      position: relative;
      top: 0px;
      left: 0px;
      padding: 30px;
  
      width: 100%;
      overflow: scroll;

      background-image: url("../../assets/paper_o.png");
      background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }