

<div class='all'>

        <canvas id="pinkboard"></canvas>

        <div id='envelope'>
            <div id='back'>
                <svg xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink= "http://www.w3.org/1999/xlink" 
                    height="300" width="300">
                    <polygon
                        points="0,100 300,100 300,300 0,300"
                        style="fill:#796479;stroke:none;stroke-width:0" />
                </svg>
            </div>
            <div id='front'>
                <svg xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink= "http://www.w3.org/1999/xlink" 
                    height="300" width="300">
    
                    <polygon
                        points="0,100 150,200 300,100 300,300 0,300"
                        style="fill:#D9AFD9; stroke:#97D9E1; stroke-width:3" />
    
                </svg>
            </div>
            <div id='top'>
                <svg xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink= "http://www.w3.org/1999/xlink" 
                    height="300" width="300">
                    
                    <polygon
                        points="0,100 150,200 300,100"
                        style="fill:#BF96BF;stroke:#97D9E1;stroke-width:2">
                        <animate id='opentop' attributeName="points" dur="0.5s" fill="freeze" 
                        begin="indefinite"
                              from="0,100 150,200 300,100"
                              to="0,100 150,0 300,100"/>
                    </polygon>
                    
                </svg>
            </div>
    
    
    
                <div id='letter'>
                    <h1>You're Invited!</h1>
                    <img src='assets/engagement/308-min.jpg'>
                    <h2>From: Yours Truely</h2>
                </div>
    
            
            <button id="open" (click)='openUp()'>
                Open Invite
            </button>
        </div>
       

</div>