.example-card {
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px !important;
    margin-top: 40px !important;
  }

  .all {
    height:100%;
      position: relative;
      top: 0px;
      left: 0px;
  
      width: 100%;
      overflow: auto;

      background-image: url("../../assets/paper_o.png");
      background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }