.one {
    height: 40%;
    width: 50%;
    margin: auto;
}



.total {
    height: 100%;
    width: 100%;
}



.galleria {
    max-height: 40px;
    max-width: 20px;

}

.img-item {
    height: 100px;
}


.thumb-item {
    height: 30px;
    width: 30px;
}

