 <div class="all">
    
    
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let tile of images"
        [colspan]="tile.cols"
        [rowspan]="tile.rows"
        (mouseenter)="tile.hover=true"
        (mouseleave)="tile.hover=false"
        class="tile">
      <img src="{{tile.itemImageSrc}}" class="img"  [style.color]="'red'" [style.border-image-slice]="tile.frameCut" [style.border-image-repeat]="tile.frameRepeat" [style.border-image-source]="'url(' + tile.frameSrc + ')'"  >

      <div class="hover" *ngIf="tile.hover">{{I18n.get(tile.alt)}}</div>
    </mat-grid-tile>
  </mat-grid-list>



</div>
