<div mat-dialog-title class="dialog-title">
    <h1 >
        {{I18n.get('RSVP')}}
    </h1>
    <button mat-icon-button aria-label="close dialog" mat-dialog-close>
        <mat-icon>close</mat-icon>
      </button>
</div>

<div mat-dialog-content>





    <mat-stepper linear orientation="vertical" #stepper>
        <mat-step  [label]="I18n.get('Are you coming?')">

            <button mat-raised-button class="rsvp" matStepperNext (click)="send_coming()"><mat-icon [ngStyle]="{'color':'green'}">check</mat-icon>Yes</button>
            <br/>
            <button mat-raised-button class="rsvp"  (click)="send_regret()"><mat-icon [ngStyle]="{'color':'red'}">close</mat-icon>No</button>


          </mat-step>


        <mat-step [stepControl]="firstFormGroup"  >
          <form #firstFormGroup="ngForm">
            <ng-template matStepLabel>{{I18n.get('Who is coming?')}}</ng-template>
            
            <br/>

            <div *ngFor="let person of adults; index as i" class="form-group">

                <button mat-mini-fab color="warn" (click)="remove(person, false)">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-form-field class="item">
                    <mat-label>Name</mat-label>
                    <input matInput class="form-control" type="text" [name]="i + 'pn'" [(ngModel)]="person.name" required> 
                  </mat-form-field>

                  <mat-form-field class="item" style="margin-left: 10px;">
                    <mat-label>Dietary Restrictions</mat-label>
                    <input matInput class="form-control" [(ngModel)]="person.diet" [name]="i + 'diet'" placeholder="Ex. None, allergies, Vegan, etc..."/>
                  </mat-form-field>

            </div>

            <div>
                <button mat-raised-button color="secondary" class="add"  (click)="addAdult()"><mat-icon>add</mat-icon>Add Adult</button>
              <!--<button mat-button matStepperNext>Next</button>-->
            </div>

            <br/>


            <div *ngFor="let person of children; index as i" class="form-group">

                <button mat-mini-fab color="warn" (click)="remove(person, true)">
                    <mat-icon>close</mat-icon>
                  </button>

                  <mat-form-field class="item">
                    <mat-label>Name</mat-label>
                    <input matInput class="form-control" type="text" [name]="i + 'cn'" [(ngModel)]="person.name" required> 
                  </mat-form-field>

                  <mat-form-field class="item" style="margin-left: 10px;">
                    <mat-label>Dietary Restrictions</mat-label>
                    <input matInput class="form-control" [(ngModel)]="person.diet" [name]="i + 'cdiet'" placeholder="Ex. None, allergies, Vegan, etc..."/>
                  </mat-form-field>

                  <mat-form-field class="item" style="margin-left: 10px;" matTooltip="If you are uncomfortable with disclosing this on the form - please reach out to us directly.">
                    <mat-label>Age</mat-label>
                    <input matInput type="text" [name]="i + 'cage'" [(ngModel)]="person.age"> 
                  </mat-form-field>

            </div>

            <div>
                <button mat-raised-button color="secondary" class="add"  (click)="addChild()"><mat-icon>add</mat-icon>Add Child</button>
              <!--<button mat-button matStepperNext>Next</button>-->
            </div>


          </form>

        <br/>
        <br/>
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </mat-step>
        <mat-step   [label]="I18n.get('What events will you come to?')">

            <div *ngFor="let event of events">
                <mat-checkbox class="example-margin" [(ngModel)]="event_rsvp[event.name]">{{I18n.get(event.name)}}</mat-checkbox>
            </div>
            
            <br/>
          <button mat-raised-button color="primary" matStepperNext>Next</button>

        </mat-step>

        <mat-step >
          <ng-template matStepLabel >Ready to submit?</ng-template>
          
            <br/>
          <mat-form-field class="item comment">
            <mat-label>Any comments?</mat-label>
            <textarea matInput type="text" [(ngModel)]="comment"> </textarea>
        </mat-form-field>

        <br/>
        <button mat-raised-button color="primary" (click)="submit()" mat-dialog-close cdkFocusInitial >{{I18n.get('Send RSVP: ' + attending)}}</button>


        </mat-step>
      </mat-stepper>





</div>


<!--
<div mat-dialog-actions>

  <button mat-button disables="true" color="primary" (click)="submit()" cdkFocusInitial >{{I18n.get('Submit')}}</button>
  
</div>
-->