<!-- Render loading if authStatus is still configuring  -->
<ng-container *ngIf="authenticator.authStatus === 'configuring'">
  Loading...
</ng-container>

<!-- Only render this if there's an authenticated user -->
<ng-container *ngIf="authenticator.authStatus === 'authenticated'" >
  <div fxLayout="column" fxFlexFill class="container">
      <mat-toolbar color="primary" fxLayout="row"  style="z-index: 2">
        <button mat-icon-button (click)="drawer.toggle()" matTooltip="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{I18n.get('Jacqui & Peter Wedding')}}</span>
        

        <button mat-stroked-button class="rsvp" color="transparent" routerLink="/rsvp">
          {{I18n.get('RSVP')}}
          
        </button>

        <!--
        <button mat-icon-button matTooltip="Notifications">
            <mat-icon>notifications</mat-icon>
        </button>
      -->
        <button mat-icon-button [matTooltip]="I18n.get('My Account')" [matMenuTriggerFor]="userAccountMenu" style="float: right;">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
          <!--
            <button mat-menu-item routerLink="#">
                <mat-icon>person</mat-icon><span>My Account</span>
            </button>
          -->
            <button mat-menu-item routerLink="/user">
                <mat-icon>settings</mat-icon><span>{{I18n.get('Settings')}} </span>
            </button>
            <button mat-menu-item routerLink="/help">
                <mat-icon>help</mat-icon><span>{{I18n.get('Help')}} </span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="signOut()">
                <mat-icon>exit_to_app</mat-icon>{{I18n.get('Logout')}} 
            </button>
        </mat-menu>
      </mat-toolbar>


      <mat-drawer-container fxFlex autosize class="background">

        <mat-drawer #drawer>
        <mat-nav-list>
          <mat-list-item routerLink="/home">
              <mat-icon>home</mat-icon><span>{{I18n.get('Home')}} </span>
          </mat-list-item>
          <mat-list-item routerLink="/welcome">
            <mat-icon>pan_tool</mat-icon><span>{{I18n.get('Welcome')}} </span>
        </mat-list-item>
        <mat-list-item routerLink="/invite">
          <mat-icon>email</mat-icon><span>{{I18n.get('Invite')}} </span>
      </mat-list-item>
          <mat-list-item routerLink="/events">
            <mat-icon>event</mat-icon><span>{{I18n.get('Events')}} </span>
          </mat-list-item>
          <mat-list-item routerLink="/ourstory">
            <mat-icon>menu_book</mat-icon><span>{{I18n.get('Our Story')}} </span>
          </mat-list-item>
          <mat-list-item routerLink="/gallery">
            <mat-icon>photo_library</mat-icon><span>{{I18n.get('Gallery')}} </span>
            </mat-list-item>
            <mat-list-item routerLink="/faq">
              <mat-icon>question_mark</mat-icon><span>{{I18n.get('FAQ')}} </span>
              </mat-list-item>
              <mat-list-item routerLink="/rsvp">
                <mat-icon>mark_email_read</mat-icon><span>{{I18n.get('RSVP')}} </span>
                </mat-list-item>
          <mat-expansion-panel [class.mat-elevation-z0]="true">
              <mat-expansion-panel-header>
                {{I18n.get('Travel')}} 
              </mat-expansion-panel-header>
              <mat-nav-list>
                <mat-list-item routerLink="/lodging">
                  <mat-icon>hotel</mat-icon><span>{{I18n.get('Lodging')}} </span>
                </mat-list-item>
                <mat-list-item routerLink="/restaurants">
                  <mat-icon>restaurant_menu</mat-icon><span>{{I18n.get('Food')}} </span>
                </mat-list-item>
                <mat-list-item routerLink="/activities">
                  <mat-icon>local_activity</mat-icon><span>{{I18n.get('Activities')}} </span>
                </mat-list-item>
                <mat-list-item routerLink="/areas">
                  <mat-icon>map</mat-icon><span>{{I18n.get('Areas')}} </span>
                </mat-list-item>
                <mat-list-item routerLink="/airports">
                  <mat-icon>flight</mat-icon><span>{{I18n.get('Airports')}} </span>
                </mat-list-item>

              </mat-nav-list>
          </mat-expansion-panel>
      </mat-nav-list>
    </mat-drawer>



      <div style="display: inline;">
        <router-outlet></router-outlet>
      </div>

      </mat-drawer-container>


</div>
    </ng-container>
  
    <!-- Render sign-in screen otherwise with authenticator -->
    <ng-container *ngIf="authenticator.authStatus !== 'authenticated'">
      <amplify-authenticator [hideSignUp]="true">
          <ng-template
                amplifySlot="authenticated"
                let-user="user"
                let-signOut="signOut"
              />
      </amplify-authenticator>
    </ng-container>