h1 {
    margin-left: 30%;
    margin-top: 10%;
}

div {
    height: 80%;
    width: 100%;
}
.all {
    height:100%;
      position: relative;
      top: 0px;
      left: 0px;
  
      width: 100%;
      overflow: auto;

      background-image: url("../../assets/paper_o.png");
      background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }