.timer {
    //background-image: url("../../assets/blue_boards.png");
      background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center; 
    height: 100%;
    width: 100%;
    position: relative;
}