@property --a{
  syntax: '<angle>';
  inherits: false;
  initial-value: 90deg;
}
@property --l{
  syntax: '<percentage>';
  inherits: false;
  initial-value: 10%;
}
@property --c{
  syntax: '<color>';
  inherits: false;
  initial-value: red;
}

.box {
  /*  needed for firefox to have a valid output */
  --a:20deg;
  --l:10%;
  --c:red;
  /**/
  cursor:pointer;
  width:500px;
  height:400px;
  margin:15px;
  display:inline-block;
  background: conic-gradient( rgba(255, 0, 0, 1), rgba(255, 0, 0, 1));
  animation:a 5s ease-in infinite alternate;
}

@keyframes a{
  from {
    background: conic-gradient( rgba(255, 0, 0, 1), red)
  }
  50% {
    background: conic-gradient( rgba(255, 0, 0, 1), pink)
  }
  to {
    background: conic-gradient( rgba(255, 0, 0, 1), blue)
  }
}

body {
  text-align:center;
}




@keyframes example {
  0%   {background-color: rgba(255, 0, 0, 0);}
  25%  {background-color: rgba(255, 0, 0, .5);}
  50%  {background-color: rgba(255, 0, 0, .75);}
  100% {background-color: rgba(255, 0, 0, 1);}
}

/* The element to apply the animation to */
.test {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}