

.all {
  height:100%;
  padding-left: 30px;
  position: relative;
  top: 0px;
  left: 0px;

  width: 100%;
  background-image: url("../../assets/cruise_o.png");
  background-position: center; 
background-repeat: no-repeat; 
background-size: cover; 

}


#gradient
{
    height:300px;
    width:300px;
    border:1px solid black;
    font-size:30px;
    background: conic-gradient( #ff7e00, transparent);
    background-size: 200% 200%;

    -webkit-animation: Animation 5s ease infinite;
    -moz-animation: Animation 5s ease infinite;
    animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}