

<div class='all'>


   <div fxLayout="column">
 
    <br/><br/>


   <div fxFlex fxLayout="row" fxLayout.xs="column">
    <div fxFlex [innerHTML]="welcome">
        
    </div>
    <img  fxFlex class="git" src="assets/githeart.drawio.png"/>
    

   </div>

   <br/><br/>

   
   <div fxFlex fxLayout="row"  fxLayout.xs="column">
    <!--<img  fxFlex class="cal" src="assets/april_14.png"/>-->
    <app-countdown fxFlex="30"></app-countdown>
    <div fxFlex [innerHTML]="date">

    </div>
 
    
   </div>

   <br/><br/>
   <div fxFlex fxLayout="row"  fxLayout.xs="column">
    <div fxFlex="80" [innerHTML]="faq">

    </div>


    <img  class="terminal" fxFlex src="assets/console.png"/>

   </div>



   <br/><br/>

   <div fxFlex fxLayout="row"  fxLayout.xs="column">
    <img  fxFlex="30" src="assets/virginia_plane.png"/>
    <div fxFlex [innerHTML]="travel">

    </div>
    
   </div>

   <br/><br/>

   <div fxFlex fxLayout="row"  fxLayout.xs="column">
    <div fxFlex="90" [innerHTML]="story">

    </div>
    <img  fxFlex class="book" src="assets/love_story.png"/>

   </div>

   <br/><br/>



   <div fxFlex fxLayout="row"  fxLayout.xs="column">
    <img  fxFlex class="book" src="assets/jp_gallrey.png"/>
    <div fxFlex [innerHTML]="gallery">

    </div>
    

    
   </div>


   <br/><br/>

    <div fxFlex [innerHTML]="update">

   </div> 
   <br/>
    <img fxFlex src="assets/stay_tuned.png"/>
    




   </div>


</div>