<div class="all">

   <div class="containery">
   <div class="containerx">
       <div class="flip-book" id="demoBookExample">
           <div class="page page-cover page-cover-top" data-density="hard">
            <img src="assets/cptr.png" class="cptr"/>

           </div>
           <div *ngFor="let page of pagesList" class="page">
               <div class="page-content">
                   <h2 class="page-header">{{I18n.get(page.header)}}</h2>
                   <div class="page-image">
                     <img *ngIf="page.image != 'countdown' && page.image " class="image" src="{{page.image}}" />
                     <app-countdown  *ngIf="page.image == 'countdown'" class="image" class="countdown" ></app-countdown>
                   </div>
                   
                   <div class="page-text" [innerHTML]="page.body"></div>
                   <div class="page-footer">{{page.footer}}</div>
               </div>
           </div>

           <div class="page page-cover page-cover-bottom" data-density="hard">
               <div class="page-content back-content">
                   <h2>{{I18n.get('HAVE FUN!')}}</h2>

               </div>
           </div>
       </div>
   </div>
</div>
</div>
