.pic {
    height: 60px;
    width: 60px;
}

.eng {
}

.all {
    height:100%;
    padding-left: 30px;

    width: 100%;
}

.total {
    /* Firefox */
    height: -moz-calc(100% - 10%);
    /* WebKit */
    height: -webkit-calc(100% - 10%);
    /* Opera */
    height: -o-calc(100% - 10%);
    /* Standard */
    height: calc(100% - 10%);
    position: fixed;
}