.all {
  height:100%;
    padding-left: 30px;
    padding-right:30px;
    position: relative;
    top: 0px;
    left: 0px;

    width: 100%;
    overflow: scroll;



    background-image: url("../../assets/paper_o.png");
    background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 

}

.cal {
  max-height: 150px;
  max-width: 250px;
}

.git {
  max-height: 150px;
  max-width: 250px;
}

.terminal {
  max-height: 150px;
}

.book {
  max-height: 100px;
  max-width: 150px;
}


.tuned {
  max-width: 200px;
  max-height: 200px;
}