


<div *ngFor="let hotel of hotels">
    <mat-card class="example-card">
        <mat-card-header>
        <mat-card-title-group>
            <img mat-card-md-image src="{{hotel.image}}" >
            <mat-card-title>{{hotel.name}}</mat-card-title>
            <mat-card-subtitle> <a href="http://maps.google.com/?q={{hotel.address}}">{{hotel.address}} </a></mat-card-subtitle>
            
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
        {{hotel.description}}

        </mat-card-content>
        <mat-card-actions>
            <!--
<button mat-raised-button color="primary" class="actbutton">Details</button>
            -->
          
          <button mat-raised-button color="primary" class="actbutton" (click)="goToLink(hotel.website)">Website</button>
          <button *ngIf="hotel.room_block" mat-raised-button color="primary" class="actbutton" (click)="goToLink(hotel.room_block)">Room Block</button>

          </mat-card-actions>

    </mat-card>
</div>



