

<div class='all'>



    <!--

<div class="heart x1"></div>
<div class="heart x2"></div>
<div class="heart x3"></div>
<div class="heart x4"></div>
<div class="heart x5"></div>
<div class="altheart x6"></div>




    <div id='envelope'>
        <div id='back'>
            <svg xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink= "http://www.w3.org/1999/xlink" 
                height="300" width="300">
                <polygon
                    points="0,100 300,100 300,300 0,300"
                    style="fill:#796479;stroke:none;stroke-width:0" />
            </svg>
        </div>
        <div id='front'>
            <svg xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink= "http://www.w3.org/1999/xlink" 
                height="300" width="300">

                <polygon
                    points="0,100 150,200 300,100 300,300 0,300"
                    style="fill:#D9AFD9; stroke:#97D9E1; stroke-width:3" />

            </svg>
        </div>
        <div id='top'>
            <svg xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink= "http://www.w3.org/1999/xlink" 
                height="300" width="300">
                
                <polygon
                    points="0,100 150,200 300,100"
                    style="fill:#BF96BF;stroke:#97D9E1;stroke-width:2">
                    <animate id='opentop' attributeName="points" dur="0.5s" fill="freeze" 
                    begin="indefinite"
                          from="0,100 150,200 300,100"
                          to="0,100 150,0 300,100"/>
                </polygon>
                
            </svg>
        </div>

        <div id="hearts" class="hearts">
            <div class="heartx"></div>
            <div class="heartx"></div>
            <div class="heartx"></div>
            <div class="heartx"></div>
          </div>


            <div id='letter'>
                <h1>You're Invited!</h1>
                <img src='assets/engagement/308-min.jpg'>
                <h2>From: Yours Truely</h2>
                <div class="heartx"></div>
            </div>

        
        <button id="open" (click)='openUp()'>
            Open Invite
        </button>
    </div>
-->

    <!--
    <div  fxLayout="column" fxLayoutGap="20px" fxShow.gt-xs="false" style="padding-right: 30px;">
        <h1 fxFlex >We've waited 4,063 days for this.</h1>
        <br/>
        <h1 fxFlex >Party accordingly.</h1>
        <span fxFlex >{{userService.userInfo.message}}</span>
        
        <span fxFlex >We can’t wait to celebrate our wedding day with you. You’ll find all the exciting details throughout our site. We will be regularly updating this site. Check out the user settings if you want to receive updates when the site updates. We are excited to share this special time with you. </span>

    </div>




    <div  fxLayout="row" fxLayoutGap="20px" fxShow.lt-sm="false" class="total">

            <div fxFlex fxLayout="column">
                <h1 fxFlex >We've waited 4,063 days for this.
                    <br/>
                    Party accordingly.</h1>
               
                <span fxFlex [innerHTML]="userService.userInfo.message"></span>
                <span fxFlex >

                    Welcome, fellow coders, tech wizards, and cherished friends and family! You've stumbled upon the cyber hub of our love story—our wedding website! So, browse through this virtual labyrinth of our love story, where every click unlocks a byte-sized snippet of our journey.

<br/><br/>
This website is our 'open-source' invitation to witness the merging of two lives in a beautiful 'pull request' for forever. So, scroll, click, and explore the binary magic of our love story as we compile our lives together! Welcome aboard this byte-sized adventure of love, laughter, and 'happily ever after!'
<br/><br/>
Stay tuned for more tales of love, chaotic planning adventures, and a few surprise plot twists. This site is the gift that keeps on giving (well, until the 'happily ever after' part kicks in)!



                </span>

            </div>



        
    </div>
-->


</div>


<!--

<mat-grid-list cols="2" rowHeight="33%" class="all">
    <mat-grid-tile
        colspan="1"
        rowspan="1">

        <h1>We've waited 4,063 days for this. Party accordingly.</h1>
    </mat-grid-tile>
    
    
    <mat-grid-tile
        colspan="1"
        rowspan="3">
            <img src="assets/engagement/308-min.jpg" class="eng"/>

      
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1">

        <span>{{userService.userInfo.message}}</span>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1">

        <span>We can’t wait to celebrate our wedding day with you. You’ll find all the exciting details throughout our site. We will be regularly updating this site. Check out the user settings if you want to receive updates when the site updates. We are excited to share this special time with you. </span>
    </mat-grid-tile>
</mat-grid-list>

-->



  