
<div class=" all">

<div class="box">


<h1>{{I18n.get('Welcome')}} {{userService.userInfo.display_name}}</h1>



<label id="example-radio-group-label">{{I18n.get('Language Preference:')}}</label>
<br/>

<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="userService.userSettings.language"
  (change)="changeLanguage($event)">
  <mat-radio-button class="example-radio-button" value="ko-KR">
    한국인
  </mat-radio-button>

  <mat-radio-button class="example-radio-button" value="en-US">
    English
  </mat-radio-button>
</mat-radio-group>

<br/>
<br/>
<br/>

<mat-slide-toggle>{{I18n.get('Receive Email Notifications of website updates:')}}</mat-slide-toggle>
<br/>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>{{I18n.get('Email')}}</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. pat@example.com">
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      {{I18n.get('Please enter a valid email address')}}
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      {{I18n.get('Email is required')}}
    </mat-error>
  </mat-form-field>
</form>

<br/>
<br/>

<mat-divider>
</mat-divider>

<br/>
<br/>

<h3>{{I18n.get('Change Password')}}</h3>
<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <mat-form-field>
    <mat-label>{{I18n.get('Old Password')}}</mat-label>
    <input matInput formControlName="oldPwd" type="password"  />

      <mat-error *ngIf="oldPwd.invalid">{{I18n.get('Old Password is required.')}}</mat-error>
    
    
  </mat-form-field>

  <br/>

  <mat-form-field>
    <mat-label>{{I18n.get('New Password')}}</mat-label>
    <input matInput formControlName="newPwd" type="password"  />
    <mat-error *ngIf="newPwd.invalid">{{I18n.get('New Password must be >=6 characters.')}}</mat-error>
     
  </mat-form-field>

  <br/>


  <mat-form-field>
    <mat-label>{{I18n.get('Confirm Password')}}</mat-label>
    <input matInput formControlName="confirmPwd" type="password"  />
    <mat-error *ngIf="confirmPwd.invalid">{{I18n.get('Confirm Password is required.')}}</mat-error>

  </mat-form-field>

  <mat-error *ngIf="changePasswordForm.errors?.['match']">{{I18n.get('Passwords do not match.')}}</mat-error>

  <br/>

  <mat-spinner *ngIf="changeLoading"></mat-spinner>
  <div *ngIf="succChange">{{I18n.get('Successfully changed password.')}}</div>
  <mat-error *ngIf="retError"> {{retError}}</mat-error>

  <button class="btn btn-primary" [disabled]="!changePasswordForm.valid">{{I18n.get('Change Password')}}</button>


</form>

</div>

</div>