<div class="all">

    <div class="info" fxLayout="column">
        <div fxFlex class="title">
            We've waited 4,063 days for this.
        <br/>
            Party accordingly.
        </div>

        <div fxFlex class="where">

               <b>
                When:
               </b>
                <br/>
            Sunday April 14, 2024

            
        </div>

        <div fxFlex class="where">
            <b>Where:</b> <br/>
            Fox Meadow Barn<br/>
            350 Old Firehouse Ln<br/>
            Winchester, VA 22602
        </div>

    </div>






</div>
