



<div class="small" *ngIf="media.isActive('xs')">

    <div class="info_l" fxLayout="column" >
        <div fxFlex class="title_l">
            {{I18n.get('We\'ve waited 4,063 days for this.')}}
        <br/>
            {{I18n.get('Party accordingly.')}}
        </div>
        <br/><br/>

        <div fxFlex class="where_l">
               <b>{{I18n.get('When:')}}</b>
                <br/>
            Sunday April 14, 2024
        </div>

        <div fxFlex class="where_l">
            <b>{{I18n.get('Where:')}}</b> <br/>
            {{I18n.get('Fox Meadow Barn')}}<br/>
            350 Old Firehouse Ln<br/>
            Winchester, VA 22602
        </div>



    </div>
    
  </div>


<div class="all" *ngIf="media.isActive('sm') || media.isActive('md') || media.isActive('lg') || media.isActive('xl')">

    <div class="info" fxLayout="column" >
        <div fxFlex class="title">
            {{I18n.get('We\'ve waited 4,063 days for this.')}}
        <br/>
            {{I18n.get('Party accordingly.')}}
        </div>

        <div fxFlex class="where">
               <b>{{I18n.get('When:')}}</b>
                <br/>
            Sunday April 14, 2024
        </div>

        <div fxFlex class="where">
            <b>{{I18n.get('Where:')}}</b> <br/>
            {{I18n.get('Fox Meadow Barn')}}<br/>
            350 Old Firehouse Ln<br/>
            Winchester, VA 22602
        </div>



    </div>




    <button mat-raised-button class="rsvp" color="transparent" routerLink="/rsvp">
        {{I18n.get('RSVP')}}
      </button>

</div>
